<footer class="footer">
    <div class="info-container">
        <div class="copyright-info info-item">
            &copy;
            <% if (theme.footer.since) { %>
              <span><%= theme.footer.since %></span>&nbsp;-&nbsp;
            <% } %>
            <%= date(new Date(), 'YYYY') %>&nbsp;<i class="fas fa-heart icon-animate"></i>&nbsp;<a href="/"><%= theme.base_info.author || config.author %></a>
        </div>
        <div class="theme-info info-item">
            <%- __('powered_by', '<a target="_blank" href="https://hexo.io">Hexo</a>') %>&nbsp;|&nbsp;<%- __('theme') %>&nbsp;<a class="theme-version" target="_blank" href="https://github.com/XPoet/hexo-theme-keep">Keep v<%= theme.version %></a>
        </div>
    </div>
</footer>
